apiVersion: apps/v1
kind: Deployment
metadata:
  name: config
spec:
  selector:
    matchLabels:
      app: config
  replicas: 1 # tells deployment to run 2 pods matching the template
  template:
    metadata:
      labels:
        app: config
    spec:
      containers:
      - name: config
        image: testdanielaaa.azurecr.io/spring/config:v8
        ports:
        - containerPort: 8061
